<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown
            mode="SingleCall"
            type="Client.Services.Request, Client"
            objectUri="Request"/>
                
        <wellknown
            mode="SingleCall"
            type="Client.Services.Message, Client"
            objectUri="Chat"/>
      </service>
      <client>
        <wellknown
          type="Common.Authentication.IAuthentication, Common"
          url="tcp://localhost:9000/Server/Auth"
        />
      </client>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
