<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown
          type="Common.Authentication.IAuthentication, Common"
          url="tcp://localhost:9000/Server/Auth"
        />
      </client>  
    </application>
  </system.runtime.remoting>
</configuration>
