<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application name="Server">
      <service>
        <wellknown
          mode="SingleCall"
          type="Server.Remote, Server"
          objectUri="RemObj" />
      </service>
      <channels>
        <channel ref="tcp server" port="9000" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
